:host {
  width: calc(100% - 60px);
  max-width: 580px;
  border: 1.71px solid rgba(0, 0, 0, 0.06);
  border-radius: 11.94px;
  background: #ffffff;
  padding: 22px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13.65px;
  box-sizing: border-box;
  box-shadow: 0 15.36px 51.19px rgba(2, 8, 6, 0.45);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 4px;
  width: 100%;
}

.page-title {
  margin: 0 0 0 auto;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  text-align: right;
}

.logosubrayado {
  width: 100%;
  height: 1px;
  background: rgba(8, 105, 48, 0.9);
  border-radius: 6px;
  box-shadow: 0 5.12px 10.24px rgba(5, 223, 114, 0.08);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12.36px;
  margin-top: 5.12px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 1em;
  margin-top: 5.12px;
  width: 100%;
}

@media (min-width: 1300px) {
  .page-title {
    font-size: 27px;
  }
}
