.btn-primary {
  background: var(--green-300);
  width: 275px;
  height: 36px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--green-300);
  cursor: pointer;
}

.btn-text {
  color: var(--green-900);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02em;
}

@media (min-width: 1300px) {
  .btn-primary {
    width: 224px;
    height: 45px;
  }

  .btn-text {
    font-size: 16px;
  }
}
