.background {
  background: url("/assets/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1; /* para que el contenido ocupe el espacio entre header y footer */
  display: flex;
  align-items: center;
  justify-content: center;
}

