.background {
  background: url("/assets/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1; /* para que el contenido ocupe el espacio entre header y footer */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 100px;
  background: rgba(23, 90, 14, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.footer {
  height: 100px;
  background: rgba(23, 90, 14, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
