:host {
  display: flex;
  align-items: center;
  gap: 8.53px;
  color: var(--green-600, #086930);
  font-size: 11.94px;
  font-weight: 600;
  cursor: pointer;
}

.text {
  font-size: 1em;
  font-weight: 600;
  color: var(--green-600, #086930);
}

.icon {
  font-size: 1.3em;
  color: var(--green-600, #086930);
}
