<div class="header">
  <a class="linkhome" (click)="goToLanding()">RODO</a>
  <div class="actions">
    @if (isUser) {
      <app-notificacion></app-notificacion>
    }
    <fa-icon
      class="user"
      matButton
      [matMenuTriggerFor]="menu"
      [icon]="userIcon"
      [fixedWidth]="true"
    ></fa-icon>
    <mat-menu #menu="matMenu" class="menu-desplegable">
      @if (!isLoggedIn) {
      <button mat-menu-item (click)="goToLogin()">Iniciar Sesión</button>
      <button mat-menu-item (click)="goToRegister()">Registrarse</button>
      }@else {
      <button mat-menu-item (click)="goToAccount()">Mi Cuenta</button>
      <button mat-menu-item (click)="goToMyTurnos()">Mis Turnos</button>
      <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
      }
    </mat-menu>
  </div>
</div>
