:host {
  width: 100%;
  border-radius: 10px;
  background: var(--green-700-gradient);
  border: 1px solid var(--green-500-primary);
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 4px;
  width: 100%;
  max-width: calc(100% - 2em);
  padding: 0 1em 1em 1em;
  color: var(--green-300);
  font-weight: 700;
  border-bottom: 1px solid var(--Verde-light-S, #70f5a3cf);
}

.primary-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.title {
  font-size: 22px;
  margin: 0;
}

.date {
  font-size: 22px;
  text-align: right;
  margin: 0 0 0 auto;
  color: #fff;
}

.text {
  width: 100%;
  max-width: calc(100% - 2em);
  padding: 0 1em;
  font-weight: 400;
  color: #fff;
  text-align: justify;
  white-space: pre-wrap;
  word-wrap: normal;
  overflow-wrap: normal;
  word-break: normal;
}
