:host {
  position: relative;
  width: calc(100% - 60px);
  max-width: 1080px;
  height: 100%;
  min-height: 500px;
  max-height: 70dvh;
  border: 1.71px solid var(--green-500-primary);
  background: var(--green-gradient-section);
  border-radius: 11.94px;
  padding: 22px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1px;
  box-sizing: border-box;
  box-shadow: 0 10px 30px rgba(3, 23, 11, 0.6),
    inset 0 1px 0 rgba(255, 255, 255, 0.02);
  overflow-y: auto;
}

.title {
  width: calc(100% - 60px);
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 4px;
  padding-bottom: 17.65px;
  border-bottom: 1px solid var(--Verde-light-S, #70f5a3cf);
}

.page-title {
  margin: 0 0 0 auto;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-align: right;
}

.filters-container {
  width: calc(100% - 70px);
  padding: 10px 30px;
  display: grid;
  column-gap: 10px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.table-container {
  width: calc(100% - 70px);
  min-height: 350px;
  height: 100%;
  padding: 0 30px;
  overflow-y: auto;
}

@media (min-width: 600px) {
  .filters-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (min-width: 1000px) {
  .filters-container {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}
