:host {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}

.label {
  font-weight: 700;
  color: var(--green-300);
}

.icon {
  color: var(--green-300);
}

.input-container {
  position: relative;
  font-size: 0.9em;
  font-weight: 700;
}

.input,
.placeholder {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--green-500-primary);
  background: var(--green-900);
  box-sizing: border-box;
  outline: none;
  margin: 0;
  color: #fff;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

.icon-placeholder {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: var(--green-300);
  pointer-events: none;
  user-select: none;
  z-index: 2;
}
