<div class="menu">
  @if (!isAdmin){
  <app-card-menu
    [icon]="faCalendar"
    title="Reservar Turno"
    description="Reserva tu cancha favorita"
    route="/reserva"
  ></app-card-menu>
  <app-card-menu
    [icon]="faMagnifyingGlass"
    title="Buscar Partido"
    description="Encuentra partidos"
    route="/buscar-partido"
  ></app-card-menu>
  <app-card-menu
    [icon]="faTrophy"
    title="Torneo"
    description="Participa en torneos"
    route="/torneo"
  ></app-card-menu>
  <app-card-menu
    [icon]="faPeopleGroup"
    title="Crear Equipo"
    description="Forma un equipo con tus amigos"
    route="/crear-equipo"
  ></app-card-menu>
  <app-card-menu
    [icon]="faGear"
    title="Gestionar Equipo"
    description="Administra tus equipos"
    route="/gestionar-equipo"
  ></app-card-menu>
  <app-card-menu
    [icon]="faMessage"
    title="Muro"
    description="Noticias importantes"
    route="/muro"
  ></app-card-menu>
  }
  @if (isAdmin){
    <app-card-menu
    [icon]="faCalendar"
    title="Turnos"
    description="Administrar turnos"
    route="/admin/turnos"
  ></app-card-menu>
  <app-card-menu
    [icon]="faMagnifyingGlass"
    title="Informes"
    description="Ver informes estadisticos"
    route="/admin/informes"
  ></app-card-menu>
  <app-card-menu
    [icon]="faTrophy"
    title="Torneos"
    description="Administrar torneos"
    route="/admin/torneos"
  ></app-card-menu>
  <app-card-menu
    [icon]="faPeopleGroup"
    title="Canchas"
    description="Administrar las canchas del predio"
    route="/admin/canchas"
  ></app-card-menu>
  <app-card-menu
    [icon]="faGear"
    title="Politicas"
    description="Administra las politicas del predio"
    route="/admin/politicas"
  ></app-card-menu>
  <app-card-menu
    [icon]="faMessage"
    title="Comunicacion"
    description="Adm. del muro y envio de mensajes a los usuarios"
    route="/admin/comunicacion"
  ></app-card-menu>
  }
</div>
