.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 36px;
  padding: 0 15px;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
}

@media (min-width: 820px) {
  .menu {
    padding: 0 210px;
  }
}
