<div class="title">
  <app-go-back label="Volver al Menú" url="admin/politicas" mode="light"></app-go-back>
  <h1 class="page-title">{{isEditMode ? 'Editar Politica' : 'Crear Politica'}}</h1>
</div>

<form class="form" [formGroup]="form">
  <app-input-string
    label="Nombre de la politica"
    [icon]="faCalendar"
    type="text"
    name="nombre"
    placeholder="Ingrese el nombre de la politica"
    prefixMessage="El nombre de la politica"
    [required]="true"
    [form]="form"
    formControlName="nombre"
  ></app-input-string>

  <!-- 2. DESCRIPCIÓN DINÁMICA -->

  <!-- Hora -->
  @if (inputType === 'time') {
    <div class="custom-input-group">
      <label class="input-label">
        <fa-icon class="label-icon" [icon]="inputIcon" size="lg" [fixedWidth]="true"></fa-icon>
        {{ inputLabel }}
      </label>
      <input
        type="time"
        formControlName="descripcion"
        class="native-input"
      />
    </div>
  }

  <!-- Moneda -->
  @else if (inputType === 'currency') {
    <div class="custom-input-group">
      <label class="input-label">
        <fa-icon class="label-icon" [icon]="inputIcon" size="lg" [fixedWidth]="true"></fa-icon>
        {{ inputLabel }}
      </label>
      <input
        type="number"
        step="any"
        formControlName="descripcion"
        [placeholder]="inputPlaceholder"
        class="native-input"
      />
    </div>
  }

  <!-- Porcentaje -->
  @else if (inputType === 'percentage') {
    <div class="custom-input-group">
      <label class="input-label">
        <fa-icon class="label-icon" [icon]="inputIcon" size="lg" [fixedWidth]="true"></fa-icon>
        {{ inputLabel }}
      </label>
      <input
        type="number"
        min="0"
        max="100"
        step="1"
        onkeydown="return event.key !== '-' && event.key !== 'e' && event.key !== '.'"
        formControlName="descripcion"
        [placeholder]="inputPlaceholder"
        class="native-input"
      />
    </div>
  }

  <!-- Número entero -->
  @else if (inputType === 'number') {
    <div class="custom-input-group">
      <label class="input-label">
        <fa-icon class="label-icon" [icon]="inputIcon" size="lg" [fixedWidth]="true"></fa-icon>
        {{ inputLabel }}
      </label>
      <input
        type="number"
        min="0"
        formControlName="descripcion"
        [placeholder]="inputPlaceholder"
        class="native-input"
      />
    </div>
  }
  <!-- Texto (Utilizado por defecto para los creados)-->
  @else { <app-input-string
    label="Descripcion de la politica"
   [icon]="inputIcon"
    type="text"
    name="descripcion"
    placeholder="Ingrese la descripcion de la politica"
    prefixMessage="La descripcion de la politica"
    [required]="true"
    [form]="form"
    formControlName="descripcion"
  ></app-input-string>
   }
  
  <!-- Validación de errores para inputs nativos -->
  @if (form.get('descripcion')?.invalid && form.get('descripcion')?.touched && inputType !== 'text') {
    <small class="error-text">
      @if (inputType === 'time') { Formato inválido. Use HH:mm }
      @else if (inputType === 'percentage') { Ingrese un porcentaje entre 0 y 100 (Entero) }
      @else { Ingrese un valor numérico válido }
    </small>
  }

  <div class="buttons">
    <app-button2 (click)="cancelar()" text="Cancelar"></app-button2>
    <app-button1 (click)="guardarPolitica()" text="{{isEditMode ? 'Actualizar politica' : 'Crear politica'}}"></app-button1>
  </div>

  @if (loading) {
  <app-spinner mode="light" [centrado]="true" size="md"></app-spinner>
  }
</form>
